h1, h2, h3, h4, h5{
    line-height: 1.5;
}

p{
    color: grey;
}

/* NAVBAR */

.navbar {
  background-color: blue;
}

.nav-link{
    color: white;
}

.logo-navbar {
    height: 45px;
}

#banner{
    background-color: blue;
    color: white;
    padding: 100px 0 70px 0;

}

#banner img{
    width: 100%;
    border-radius: 2%;
}

.btn-banner{
    margin: 8% 3% 5% 0;
}

/* FEATURES */

#features{
    padding: 7% 5%;
}


.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    margin-bottom: 15px;
    color: blue;
}

/* TESTEMUNHOSS */

#testemunho{
    background-color:#f3f3f3;
    color: #323338;
    padding: 7% 15%;
    text-align: center;
}

#testemunho img{
    border-radius: 100%;
    margin: 0%;
    margin: 20px;
}

/* PREÇOS */
#precos .titulo{
   margin-top: 5%;
}

#precos{
    padding: 5% 15% 8%;
    color: #323338;
}

/* FOOTER */

#footer{
    background-color: #f3f3f3;
    color: white;
    padding: 3% 15%;
    text-align: center;
}

.carousel-item{
    text-align: center;
}

.carousel-inner h2 {
    padding: 0 15%; /* Adiciona espaço nas laterais para que o texto não encoste nas setas */
  }
  